<div id = {{ chartId }}>
  <svg width="684.28723" height="593.86169" id = "court">
  <g id="layer1">
   <path
       d="m 312.96447,575.40702 a 56.944443,49.537037 0 0 1 113.88466,-0.84377 l -56.94172,0.48411 z"
       transform="matrix(0.96548697,0,0,1.125369,-14.539492,-356.62005)"
       id="path3827"
       style="fill:none;stroke:#000000;stroke-width:4.31709719;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
    <path
       d="m 312.96447,575.40702 a 56.944443,49.537037 0 0 1 113.88466,-0.84377 l -56.94172,0.48411 z"
       transform="matrix(-0.96546363,0.00671265,-0.00782424,-1.1253418,703.10441,934.74068)"
       id="path3827-1"
       style="fill:none;stroke:#000000;stroke-width:4.31709719;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:12.95129177, 12.95129177;stroke-dashoffset:0" />
    <rect
       width="579.78723"
       height="488.29788"
       x="52.25"
       y="21.814301"
       id="rect2996"
       style="opacity:0.63999999;fill:none;stroke:#c60000;stroke-width:4.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
    <rect
       width="485.10638"
       height="456.38297"
       x="97.994675"
       y="20.750488"
       id="rect2998"
       style="opacity:0.65;fill:none;stroke:#48ab18;stroke-width:4.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
    <rect
       width="23.148148"
       height="185.18518"
       x="263.43994"
       y="292.2438"
       id="rect3797"
       style="opacity:0.65;fill:#ce2e5c;fill-opacity:1;fill-rule:nonzero;stroke:none" />
    <rect
       width="21.296297"
       height="183.33333"
       x="398.62512"
       y="292.2438"
       id="rect3799"
       style="opacity:0.65;fill:#ce2f5c;fill-opacity:1;fill-rule:nonzero;stroke:none" />
    <path
       d="m 346.2963,454.50986 a 8.7962961,7.8703704 0 1 1 -17.5926,0 8.7962961,7.8703704 0 1 1 17.5926,0 z"
       transform="matrix(0.94736842,0,0,1.0588235,19.300195,-57.772423)"
       id="path3822"
       style="fill:none;stroke:#e8ab18;stroke-width:1.99691117;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
    <path
       d="m 324.9787,436.44823 26.89445,-0.74989"
       id="path3824"
       style="fill:none;stroke:#48ab18;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    <rect
       width="3.7037036"
       height="3.7037036"
       x="337.03705"
       y="463.30615"
       transform="translate(0,-31.499512)"
       id="rect3826"
       style="fill:#e8ab18;fill-opacity:1;stroke:none" />
    <rect
       width="30.555555"
       height="135.18518"
       x="99.551025"
       y="339.46603"
       id="A"
       style="opacity:0.65;fill:#d7c488;fill-opacity:0.96724058;fill-rule:nonzero;stroke:#48ab18;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
    <rect
       width="77.777779"
       height="95.370369"
       ry="0"
       x="131.95844"
       y="340.39194"
       id="G"
       style="opacity:0.65;fill:#d7c488;fill-opacity:0.96724058;fill-rule:nonzero;stroke:#48ab18;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
    <rect
       width="52.777775"
       height="96.296295"
       x="210.66214"
       y="340.39194"
       id="N"
       style="opacity:0.65;fill:#d7c488;fill-opacity:0.96724058;fill-rule:nonzero;stroke:#48ab18;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
    <rect
       width="71.296295"
       height="97.222221"
       x="417.14362"
       y="340.39194"
       id="Q"
       style="opacity:0.65;fill:#d7c488;fill-opacity:0.96724058;fill-rule:nonzero;stroke:#48ab18;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
    <rect
       width="62.962963"
       height="96.296295"
       x="488.43994"
       y="338.54007"
       id="K"
       style="opacity:0.65;fill:#d7c488;fill-opacity:0.96724058;fill-rule:nonzero;stroke:#48ab18;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
    <rect
       width="28.703703"
       height="137.03703"
       x="553.2547"
       y="338.54007"
       id="E"
       style="opacity:0.65;fill:#d7c488;fill-opacity:0.96724058;fill-rule:nonzero;stroke:#48ab18;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
    <rect
       width="62.037037"
       height="39.814816"
       x="490.29175"
       y="435.7623"
       id="L"
       style="opacity:0.65;fill:#d7c488;fill-opacity:0.96724058;fill-rule:nonzero;stroke:#48ab18;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
    <rect
       width="71.296295"
       height="38.888889"
       x="418.99548"
       y="436.6882"
       id="R"
       style="opacity:0.65;fill:#d7c488;fill-opacity:0.96724058;fill-rule:nonzero;stroke:#48ab18;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
    <rect
       width="79.629631"
       height="38.888889"
       x="131.0325"
       y="437.61417"
       id="F"
       style="opacity:0.65;fill:#d7c488;fill-opacity:0.96724058;fill-rule:nonzero;stroke:#48ab18;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
    <rect
       width="52.777779"
       height="38.888889"
       x="211.58806"
       y="438.54007"
       id="M"
       style="opacity:0.65;fill:#d7c488;fill-opacity:0.96724058;fill-rule:nonzero;stroke:#48ab18;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0" />
    <path
       d="m 265.29177,475.57713 74.07407,1.85185 -12.32439,-42.5926 -61.74968,0.92593 0,39.81482"
       id="S"
       style="fill:none;stroke:#48ab18;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    <path
       d="m 418.06952,476.50305 0.37314,-40.74074 -67.79989,0.92593 -13.1288,39.81481 80.55555,0"
       id="W"
       style="fill:none;stroke:#48ab18;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    <path
       d="m 274.55102,264.46601 -37.03704,-0.92592 -0.92593,75.92592 27.77778,0 -0.92592,-47.22222 22.22222,0 -11.11111,-27.77778"
       id="O"
       style="fill:none;stroke:#48ab18;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       d="m 445.84731,339.46601 0,-72.22222 -37.03703,-0.92592 -10.18519,25.92592 20.37037,-0.92592 -1.85185,48.14814 28.7037,0"
       id="P"
       style="fill:none;stroke:#48ab18;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       d="m 265.29176,435.76231 -2.77778,-144.44444 21.2963,0.92593 42.59259,144.44444 -61.11111,-0.92593"
       id="T"
       style="fill:none;stroke:#48ab18;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       d="m 552.3288,338.54009 -106.48149,0 -0.92592,-71.2963 -36.11111,-1.85185 21.29629,-52.77777 c 76.85185,34.5679 102.77778,82.09876 122.22223,125.92592 z"
       id="J"
       style="fill:none;stroke:#48ab18;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       d="m 129.18065,339.46601 108.33333,0.92593 0,-76.85185 37.96296,1.85185 -16.66666,-56.48148 C 183.193,238.54009 139.05719,303.3549 129.18065,339.46601 z"
       id="H"
       style="fill:none;stroke:#48ab18;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       d="m 226.40287,99.651194 33.33334,108.333336 c 44.13581,-14.81481 115.12345,-19.44445 168.51852,4.62963 L 468.99546,99.651194 z"
       id="C"
       style="fill:none;stroke:#48ab18;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       d="m 352.3288,435.76231 46.2963,-143.51852 19.44444,0.46296 0.92593,142.12963 z"
       id="V"
       style="fill:none;stroke:#48ab18;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       d="M 338.43991,477.42898 284.7362,291.31787 399.55102,290.39194 z"
       id="U"
       style="fill:none;stroke:#48ab18;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       d="m 257.88435,208.91046 26.85185,82.40741 115.74074,-1.85186 28.70371,-76.85185 c -56.17284,-28.08642 -129.01235,-20.06173 -171.2963,-3.7037 z"
       id="I"
       style="fill:none;stroke:#48ab18;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
  </g>
</svg>
</div>

<script>
  var params = {{{ chartParams }}}
  var svg = d3.select("svg")
  tip = d3.tip().html(function(d) { return d.key + ":" + d3.format(".2%")(d.value) ; });

  /* Invoke the tip in the context of your visualization */
  svg.call(tip)
  
  //match the data with the regions
  svg.selectAll("path, rect")[0].forEach(function(region){
    //get the shape with d3
    var regionShape = d3.select(region)
    //look for the id of the shape in the data
    var dataid = d3.values(params.data.region).indexOf(regionShape.attr("id"))
    //if id is greater than 0 then we found the id in data
    //in this example we found a region
    if (dataid >= 0) {
      regionShape.datum(
        {"key": regionShape.attr("id"),
          "value" : params.data[ params.y ][dataid]
        }
      )
      .attr("class","regionData")
    }
  })
  
  //thanks http://stackoverflow.com/questions/17671252/d3-create-a-continous-color-scale-with-many-strings-inputs-for-the-range-and-dy
  var heatmapColor = d3.scale.linear()
    .domain(d3.range(0, 1, 1.0 / (params.colors.length - 1)))
    .range(params.colors);
  
  //redundant for now
  //but might need this in the future
  var c = d3.scale.linear().domain([0,1]).range([0,1]);
    
  svg.selectAll(".regionData")
    .style("fill", function(d) {
      return heatmapColor(c(d.value));
    })
    .style("fill-opacity", 0.6)
    .on("mouseover", tip.show)
    .on("mouseout", tip.hide);
    
    
</script>
</body>

</html>